# http://editorconfig.org
root = true # 控制 .editorconfig 是否生效的字段

[*]
indent_style = space #缩进风格：空格
indent_size = 2 #缩进大小2
end_of_line = lf #换行符lf
charset = utf-8 #字符集utf-8
trim_trailing_whitespace = true #是否删除行尾的空格
insert_final_newline = true #是否在文件的最后插入一个空行

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
